<div class="blue-back">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" (click)="close()">&times;</button>
				<h4 class="modal-title">Employee info</h4>
			</div>
			<div class="modal-body scroll-styling">
				<div class="category"><div class="category-name">Email:</div>&nbsp;&nbsp;&nbsp;&nbsp;{{ employee.public.email}}</div>
				<div class="category"><div class="category-name">Active project:</div>&nbsp;&nbsp;&nbsp;&nbsp;{{ employee.public.project}}</div>
				<div class="category"><div class="category-name">Position:</div>&nbsp;&nbsp;&nbsp;&nbsp;{{ employee.public.position}}</div>
				<div class="category"><div class="category-name">Hire date:</div>&nbsp;&nbsp;&nbsp;&nbsp;{{ employee.public.hireDate}}</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="typical-btn cancel-btn" (click)="close()">Cancel</button>
				<button type="button" class="typical-btn save-btn" (click)="attach()">Attach</button>
			</div>
		</div>
	</div>
</div>