.category {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-bottom: 15px;
    cursor: pointer;
}

.category-name {
    font-size: 20px;
    font-weight: bold;
}



.modal-footer{
    display: flex;
    justify-content: space-between;
}

.save-btn{
    width: 80px;
    height: 40px;
    margin-right: -210px;
}

.save-btn:disabled{
    background-color: #f0f0f0;
    color:#c7c7c7;
}

.warn {
    color: indianred;
    margin-top: 5px;
}
.not-exists {
    color: indianred;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-top: -5px;
}

.cancel-btn{
    background-color: rgba(255,255,255, 0);
    color: rgba(0, 0, 0, 0.7);

    width: 80px;
    height: 40px;
    margin-left: -210px;
}
.cancel-btn:hover{
    background-color: #EBEBEB;
    color: #03A9F4;
}


.modal-body{
    overflow-y: scroll;
    overflow-x: none;
    max-height: 70vh;
}

.scroll-styling::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #F5F5F5;
}

.scroll-styling::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.scroll-styling::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #cccccc;
}