<div id="content">
	<div class="left-panel">
	<header>
		<div id="logo">APOLLO</div>
	</header>
		<div id="btn-list">
				<button class="typical-btn tab-btn" routerLink="/employees-list" routerLinkActive="active-link">
					<i class="fa fa-users" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;Employees
				</button>
				<button class="typical-btn tab-btn" routerLink="/projects-list" routerLinkActive="active-link">
					<i class="fa fa-folder-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;Projects
				</button>
		</div>
	</div>
	<div class="right-panel">
			<router-outlet></router-outlet>
	</div>
</div>