#content {
    display: flex;
}
#tabs {
    flex-grow: 1;
}
#content-table{
    text-align: center;
    flex-grow: 6;
}


#btn-list{
    display: flex;
    flex-direction: column;
}

.tab-btn:nth-child(1){
    margin-top: 130px;
}
.tab-btn{
text-align: left;
margin-bottom: 15px;
margin-left: 40px;
display: inline-block;
width: 210px;
height: 60px;
padding: 5px 0 5px 20px;
color: rgba(0, 0, 0, 0.7);
text-decoration: none;
font-weight: bold;
font-size: 16px;
line-height: 120%;
border: none;
background-color: rgba(255,255,255, 0);
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
outline: none;
-webkit-transition: background-color 300ms ease;
-moz-transition: background-color 300ms ease;
transition: background-color 300ms ease;
cursor: pointer;
}

.tab-btn:hover {
background-color: #EBEBEB;
color: #03A9F4;
}

.tab-btn.active-link {
background-color: #EBEBEB;
}