#content {
    display: flex;
}

#logo {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    margin-top: 70px;
    letter-spacing: 5px;
    color: #0076ff;
    font-weight: bold;
    text-align: center;
}
header {
    height: 170px;
}

.right-panel{
    
    flex-grow: 4;
}
.left-panel {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#btn-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tab-btn{
    background-color: rgba(255,255,255, 0);
    color: rgba(0, 0, 0, 0.7);
    
    text-align: left;
    padding-left: 20px;
    margin-bottom: 15px;
    width: 210px;
    height: 60px;
}

.tab-btn:hover {
background-color: #EBEBEB;
color: #03A9F4;
}

.tab-btn.active-link {
background-color: #EBEBEB;
}


