<div class="blue-back">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" (click)="close()">&times;</button>
				<h4 class="modal-title">{{title || 'Confirm'}}</h4>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label for="first-name" class="col-form-label">First name</label>
						<input type="text" class="form-control" id="first-name" name="first-name"
						placeholder="John" [(ngModel)]="employee.firstName" #firstName="ngModel" >
					</div>
					<div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
					class="alert alert-danger">
			   
				 <div *ngIf="firstName.errors.required">
				   Name is required.
				 </div>
				 <div *ngIf="firstName.errors.minlength">
				   Name must be at least 4 characters long.
				 </div>
				 <div *ngIf="firstName.errors.forbiddenName">
				   Name cannot be Bob.
				 </div>
			   
			   </div>
					<div class="form-group">
							<label for="last-name" class="col-form-label">Last name</label>
							<input type="text" class="form-control" id="last-name" name="last-name"
							placeholder="Smith" [(ngModel)]="employee.lastName">
					</div>
					<div class="form-group">
							<label for="position">Position</label>
							<select class="form-control" id="position"
							[(ngModel)]="employee.position" name="position">
							  <option>Intern</option>
							  <option>Junior</option>
							  <option>Middle</option>
							  <option>Senior</option>
							</select>
						  </div>
					<div class="form-group">
							<label for="hire-time" class="col-form-label">Hire time</label>
							<input type="text" class="form-control" id="hire-time" name="hire-time"
							[(ngModel)]="employee.hireTime" placeholder="22/10/2015">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="typical-btn cancel-btn" (click)="close()">Cancel</button>
				<button type="button" class="typical-btn save-btn" (click)="confirm()">Save</button>
			</div>
		</div>
	</div>
</div>