input:focus,
output:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none !important;
    box-shadow: none !important;
}

input {
    background-color: #f7f7f7;
    color: rgba(0, 0, 0, 0.7);
    padding: 15px 15px 15px;
    border-radius: 2px;
    height: 50px;
    margin-top: 5px;
    box-shadow: none;
    width: 100%;
    border: none;
}
input:focus {
    background-color: rgba(0, 118, 255, 0.05);
}
input:hover{
    background-color: rgba(0, 118, 255, 0.1);
}



select {
    background-color: #f7f7f7;
    color: rgba(0, 0, 0, 0.7);
    padding: 15px 15px 15px;
    border-radius: 2px;
    height: 50px;
    margin-top: 5px;
    box-shadow: none;
    width: 100%;
    border: none;
}
select:focus {
    background-color: rgba(0, 118, 255, 0.05);
}




option {
    border-radius: 2px;
}
option:not(:checked) { 
    background-color: #f7f7f7;
    color: rgba(0, 0, 0, 0.7);
}
option:checked {
    background-color: #f7f7f7;
    color: rgba(0, 0, 0, 0.7);
}
option:hover {
    background-color: black !important;
}



.modal-footer{
    display: flex;
    justify-content: space-between;
}

.save-btn{
    width: 80px;
    height: 40px;
    margin-right: -210px;
}

.save-btn:disabled{
    background-color: #f0f0f0;
    color:#c7c7c7;
}

.warn {
    color: indianred;
    margin-top: 5px;
}
.not-exists {
    color: indianred;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-top: -5px;
}

.cancel-btn{
    background-color: rgba(255,255,255, 0);
    color: rgba(0, 0, 0, 0.7);

    width: 80px;
    height: 40px;
    margin-left: -210px;
}
.cancel-btn:hover{
    background-color: #EBEBEB;
    color: #03A9F4;
}