<div class="blue-back">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" (click)="close()">&times;</button>
				<h4 class="modal-title">{{ title }}</h4>
			</div>
			<div class="modal-body">
				<form [formGroup]="form">
					<div class="form-group">
						<label for="first-name" class="col-form-label">First name</label>
						<input type="text" class="form-control" placeholder="John" id="first-name" formControlName="firstName">


						<div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="warn">
							<div *ngIf="firstName.errors.pattern">
								Only English symbols required.
							</div>
							<div *ngIf="firstName.errors.minlength">
								Name must be at least 2 characters long.
							</div>
							<div *ngIf="firstName.errors.required">
								First name is required.
							</div>
						</div>


					</div>

					<div class="form-group">
						<label for="last-name" class="col-form-label">Last name</label>
						<input type="text" class="form-control" id="last-name" placeholder="Smith" formControlName="lastName">


						<div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="warn">
							<div *ngIf="lastName.errors.pattern">
								Only English symbols required.
							</div>
							<div *ngIf="lastName.errors.minlength">
								Name must be at least 2 characters long.
							</div>
							<div *ngIf="lastName.errors.required">
								Last name is required.
							</div>
						</div>

					</div>


					<div class="form-group">
						<label for="position">Position</label>
						<select class="form-control" id="position" formControlName="position">
							  <option>Intern</option>
							  <option>Junior</option>
							  <option>Middle</option>
							  <option>Senior</option>
							</select>

						<div *ngIf="position.invalid && (position.dirty || position.touched)" class="warn">
							<div *ngIf="position.errors.required">
								Position is required.
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="hire-date" class="col-fteorm-label">Hire date</label>
						<input type="text" class="form-control" id="hire-date" placeholder="22/10/2015" formControlName="hireDate">
					
						<div *ngIf="hireDate.invalid && (hireDate.dirty || hireDate.touched)" class="warn">
							<div *ngIf="hireDate.errors.pattern">
								Allowed following form '12/02/2017' only.
							</div>
							<div *ngIf="hireDate.errors.required">
								Hire date is required.
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="typical-btn cancel-btn" (click)="close()">Cancel</button>
				<button type="button" class="typical-btn save-btn" [disabled]="!form.valid" (click)="save(form.value)">Save</button>
			</div>
		</div>
	</div>
</div>
